{{!-- <h2>Check out the companies with offers you may be interested in!</h2> --}}
{{!-- <form action='' method="POST">
<label>Company: </label>
<input type="text" placeholder="Company Name" name="companyName" value="offers">
<br>
<br>
<label>Industry: </label>
<input type="text" placeholder="Industry" name='industry' value="offers">
<br>
<br>
<label>Username: </label>
<input type="text" placeholder="Industry" name='user' value="offers">
<button type="submit">Login</button>

</form> --}}
<div class="offers-page-outer-div">
<div class="offers-page-div">
{{#each Offer}}

<h3>{{this.companyName}}</h3>
<h4> {{this.industry}}</h4>

<p>jnfgioeprajgojreasiopjgiorpeasjigojresoipjgioraejfgijaeiosjfioearwjiopfjewaiopjfiojewaiopjfioaejw</p>

<p>need this to get to work  --- want it to match the interests of users and appear through the user--page</p>


  {{/each}}
<div>

  this should be a company name - do i want to connect companies through mongoDB?? idk
</div>
<h1>NIKE</h1>
<p>deal: 30% off all sneakers</p>
<a href='/user-page'><button class='btn-success bg-success'>accept</button></a>
<a href='/user-page'><button class='btn-danger bg-danger'>No, thanks</button></a>
</div>
</div>