
{{#each offer}}
<div class="offers-page-outer-div">
<div class="offers-page-div">

 

<div><label>Company:     </label>{{this.companyName}}</div><br>
<div><label>Industry:     </label>{{this.industry}}</div><br>

  <div><label>Discount: </label>enjoy 50% off of everything</div><br>


<a href='/user-page'><button class='btn-success bg-success'>Accept</button></a>
<a href='/user-page'><button class='btn-danger bg-danger'>No Thanks</button></a>
</div>

</div>
{{/each}}