{{!-- <h2>Check out the companies with offers you may be interested in!</h2> --}}
{{!-- <form action='' method="POST">
<label>Company: </label>
<input type="text" placeholder="Company Name" name="companyName" value="offers">
<br>
<br>
<label>Industry: </label>
<input type="text" placeholder="Industry" name='industry' value="offers">
<br>
<br>
<label>Username: </label>
<input type="text" placeholder="Industry" name='user' value="offers">
<button type="submit">Login</button>

</form> --}}
{{#each offer}}
<div class="offers-page-outer-div">
<div class="offers-page-div">

 

<div><label>Company:     </label>{{this.companyName}}</div><br>
<div><label>Industry:     </label>{{this.industry}}</div><br>

  <div><label>Discount: </label>enjoy 50% off of everything</div><br>


<a href='/user-page'><button class='btn-success bg-success'>Accept</button></a>
<a href='/user-page'><button class='btn-danger bg-danger'>No Thanks</button></a>
</div>

</div>
{{/each}}