<div class="edit-interests-outer-div">
<div class="edit-interests-div">
<h1>Edit Interest</h1>
<form action='/edit-interests' method="POST">
<label>Food<input type="checkbox" name="interests" value='Food'></label><br>
    <label>Media</label><input type="checkbox" name="interests" value='Media'><br>
    <label>Sports</label><input type="checkbox" name="interests" value='Sports'><br>
    <label> Video Games</label><input type="checkbox" name="interests" value='Video Games'><br>
    <label>Night Life</label><input type="checkbox" name="interests" value='Night Life'><br>
    <label>Travel</label><input type="checkbox" name="interests" value='Travel'><br>
    <button type="submit">submit</button>
</form>
</div>
</div>