<div class="signup-section container">
<form action='/users/signup-page' method="POST" class="signup-form">

<h5>Signup to receive special offers</h5>


<div class="signup-info container">
  <div class='row'>
    <label class="signup-lables col-3">Username: </label>
    <input type="text" name="username" placeholder="username" class="signup-inputs col-6">
  </div>
  <br>
  <div class='row'>
    <label class="signup-lables col-3">Password: </label>
    <input type="password" name="password" placeholder="password" class="signup-inputs col-6">
  </div>
  <br>
  <div class='row'>
    <label class="signup-lables col-3">Birthday: </label>
    <input type="date" name="birthday" placeholder="Date of birth" class="signup-inputs col-6">
   </div> 
   <br>
   <div class='row'>
    <label class="signup-lables col-3">First Name: </label>
    <input type="text" name="firstName" placeholder="Name" class="signup-inputs col-6">
  </div>
  <br>
  <div class='row'>
    <label class="signup-lables col-3">Last Name: </label>
    <input type="text" name="lastName" placeholder="Last Name" class="signup-inputs col-6">
  </div>
  </div>
   {{!-- <div class='col-4'></div> --}}
  <div class='container'>
  <h5>Interests - check all that apply</h5><br>
    <div class='row'>
    <label class="signup-labels col-3">Food</label><input class="singup-labelse col-1" type="checkbox" name="interests" value='Food'>
    <label class="signup-labels col-3">Media</label><input class="singup-labelse col-1" type="checkbox" name="interests" value='Media'>
    <label class="signup-labels col-3">Sports</label><input class="singup-labelse col-1" type="checkbox" name="interests" value='Sports'>
    </div>
    <div class='row'>
    <label class="signup-labels col-3"> Video Games</label><input class="singup-labelse col-1" type="checkbox" name="interests" value='Video Games'>
    <label class="signup-labels col-3">Night Life</label><input class="singup-labelse col-1" type="checkbox" name="interests" value='Night Life'>
    <label class="signup-labels col-3">Travel</label><input class="singup-labelse col-1" type="checkbox" name="interests" value='Travel'>
    </div>
    </div>
    {{!-- <div class='col-4'></div> --}}
  <button type="submit" class='btn-primary button-centered' placeholder="signup">Sign Up</button>
</div>
</form>